@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #cddeff;
  font-family: "Poppins", sans-serif;
}

.balance {
  color: orangered;
}

form {
  background-color: #14636e;
  color: white;
}

input {
  background-color: #7db5bd;
  color: rgb(39, 39, 39);
}

button {
  /* background-color: ; */
  padding: 30px;
}
